.box {
	--scale-0: 0;
	--scale-1: 1rem;
	--scale-2: 2rem;
	--scale-3: 3rem;
	/* without box-sizing, it will default to content-box in WP */
	box-sizing: border-box;
	padding: var(--scale-0);

	&.small {
		padding: var(--scale-1);
	}

	&.medium {
		padding: var(--scale-2);
	}

	&.large {
		padding: var(--scale-3);
	}
}
